@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
  box-sizing: 0;
  margin: 0;
  padding: 0;

}

h1 {
  padding: 0.25em;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.2em;
}

h2 {
  font-size: 1.25em;
}

p {
  padding: 1em;
  text-align: justify;
}


p li,
p h3 {
  margin-left: 1em;
  padding: 0.25em;
}



a {
  color: #f9ac66;
}