
*{
    padding: 0;
    margin: 0;
}


.container-banner-ppal {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    object-fit: cover;
}

.logo {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 350px;
    height: 20vh;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0.8;
}

.container-listLangues {
    width: 10%;
    display: flex;
    justify-content: space-between;
}

.langue {
    background-color: #167544;
    width: 40%; 
    z-index: 4;
}

.langue h1 {
    columns: white;
}


@media (max-width: 640px) {
    .container-listLangues {
        width: 20%;
    }


    .langue {
        width: 100%;
        text-align: center;

    }
}

