.container-general {
    display: flex;
    justify-content: center;    
}

.container-rendez-vous {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41%;
    height: 40vh;

}

.container-rendez-vous button {
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    border: none;
}

.text-rendez-vous {
    font-size: 50px;
    text-decoration: none;
    color: #167544;
    font-family:'Times New Roman', Times, serif;
    border: none;
}

@media (max-width: 840px) {
    .container-rendez-vous{
        width: 100%;
    }
}

