
*{
    padding: 0;
    margin: 0;
}


.container-banner-ppal {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    object-fit: cover;
}

.logo-bannerppal {
    width: 100%;
    height: 15vh;
    text-align: center;
}

.logo-bannerppal img {
    width: 550px;
    height: 25vh;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0.8;
}

@media (max-width: 640px) {
    .logo-bannerppal img{
        width: 80%;
        border-radius: 25px;
    }
}
