@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
  box-sizing: 0;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.header {
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 10;
}

nav {
  width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .menu {
    display: none;
    margin-top: 10px;
    width: 50px;
    height: 40px;
    cursor: pointer;
  }

  .navbar-left ul,
  .navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
  }

  .navbar-left {
    display: flex;
    justify-content: center;
  }

  .navbar-left ul {
    margin-left: 50px;
  }

  .navbar-left ul li a,
  .navbar-right ul li a {
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-items: center;

  }

  .navbar-left img {
    height: 60px;
  }

  .list {
    position: relative;
    cursor: pointer;
  }

  .list a::after {
    content: '\25be';
    top: 20%;
    position: absolute;
    left: 70px;
    right: 0px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 2.5em;
  }

  .navbar-right {
    display: flex;
    flex-direction: column;
  }

  .navbar-right :nth-child(2) {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 18vh;
    margin-top: 60px;
    opacity: 0.8;
    border-radius: 15px;
  }

  .item-langue {
    position: relative;
  }

  .item-langue::after{
    content: '\25be';
    top: 0.0001em;
    right: -20px;
    position: absolute;
    margin: 0 auto;
    font-weight: bold;
    cursor: pointer;
    font-size: 2em;
  }

  .menu-languages {
    background-color: white;
  }


  .menu-services {
   display: flex;
   flex-direction: column;
   width: 25%;
   height: 80vh;
   position: absolute;
   margin-top: 60px;
   padding: 10px;
   justify-content: space-between;
   text-align: center;
   background-color: white;
   z-index: 5;
  }

  .menu-services ul li a{
    text-decoration: none;
    list-style: none;
  }

  .icon-close {
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 50%;
  }

  .icon-close img {
    color: white;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    object-fit: cover;
  }

  .menu-services ul li{
    list-style: none;
  }

  .menu-services li a {
    list-style: none;
    text-decoration: none;
    color: #167544;
  }

  .menu-services li a:hover {
    font-size: 25px;
    border-bottom: solid 1px;
  }

  .item-menu-mobil {
    display: none;
  }

  @media (max-width: 640px) {
    .menu {
      display: block;
    }
    .navbar-left ul {
      display: none;
    }
    .menu-services {
      width: 100%;
      height: 80vh;
      opacity: 0.9;
      z-index: 100;
    }
    .item-menu-mobil {
      display: block;
    }
  }