
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');


/*--------------------------------------------------
# Fonts
--------------------------------------------------*/

/*--------------------------------------------------
# General
--------------------------------------------------*/
body {
background:#fff;
    color: #3a3a3a;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 2em;
}
